@media screen and (max-width: 1200px) {
  .bannerText {
    font-size: 9px;
  }
  .socialLinks {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .bannerText {
    font-size: 9px;
  }
  .socialLinks {
    font-size: 10px;
  }
}

@media screen and (min-width: 900px) {
  .bannerText {
    font-size: 7px;
  }
  .socialLinks {
    font-size: 9px;
  }
}

@media screen and (min-width: 768px) {
  .bannerText {
    font-size: 7px;
  }
  .socialLinks {
    font-size: 9px;
  }
}

@media screen and (max-width: 600px) {
  .bannerText {
    font-size: 6px;
  }
  .socialLinks {
    font-size: 9px;
  }
}

@media screen and (max-width: 480px) {
  .bannerText {
    font-size: 6px;
  }
  .socialLinks {
    font-size: 7px;
  }
}

@media screen and (max-width: 320px) {
  .bannerText {
    font-size: 6px;
  }
  .socialLinks {
    font-size: 6px;
  }
}

.header-color {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
}

.drawerText {
  font-family: 'Raleway', sans-serif;
}


.landing-grid {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}


.profileImage {
  width: 100%;
  max-width: 680px;
  height: auto;
  border-radius: 10px;
}

.bannerText {
  background-color: black;
  opacity: .8;
  max-width: 75%;
  margin: auto;
  border-radius: 10px;
}

.bannerText h1 {
  font-size: 8em;
  color: white;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.bannerText hr {
  border-top: .5em dotted white;
  max-width: 50%;
  margin: auto;
}

.bannerText p {
  color: white;
  font-size: 2.5em;
  padding: 1em;
}

.socialLinks {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}

.socialLinks i {
  color: white;
  font-size: 7em;
  padding: .5em;
}

/*Projects Page Css */
.projectsGridLeft {
  display: flex;
  max-width: 75%;
  text-align: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.projectsGridCenter {
  display: flex;
  max-width: 75%;
  text-align: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.projectsGridRight {
  display: flex;
  max-width: 75%;
  text-align: center;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}



/* contact page css */
.contactBody {
  margin: auto;
  background: white;
  position: absolute;
  width: 100%;
  max-height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contactGrid {
  text-align: center;
  justify-content: center;
  width: 80%;
  max-height: 100%;
  background: #27221F;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contactGrid h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.contactGrid p {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 1.75em;
}

.contactGrid hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.contactList i {
  font-size: 150%;
  padding-right: 5rem;
  color: white;
}



/*Resume Page Css*/
.resumeRightCol {
  background: #27221F;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 2em;
  border-radius: 10px;
}

.resumeLeftCol {
  font-family: 'Raleway', sans-serif;
  padding-left: 1em;
  padding-right: 1em;
}

.resumeLeftCol p {
  font-size: 18px;
}

/*About Me Page Css*/
.aboutMeCol {
  background: #27221F;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 1em;
  border-radius: 10px;
}